# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
build/

# User configuration.
local.properties
local.defaults.properties

# Secrets
secrets.properties

# OS configurations.
.DS_Store

# Android NDK cmake output.
.cxx/
